.layout{
  height: calc(100vh - 3.625rem);
}

.mapwrapper{
  position:relative;
}

.zoomindicator{
  position: absolute;
  margin:8px;
  bottom:0px;
  right:0px;
  /* background: grey; */
  box-shadow: 2px 2px 7px rgba(0,0,0,1);
  background: white;
  border-radius: 2px;
}

.zoomouter{
  margin: 2px;
  background: white;
  overflow: hidden;
  position: relative;
}

.zoominner{
  position:absolute;
  background: rgba(255,0,0,0.25);
}